@import url('https://v1.fontapi.ir/css/Mikhak');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mikhak', sans-serif;
}

.navbar {
	position: relative;
	background: url('../images/nav.jpg') no-repeat fixed ;
	background-size: cover;
	height: 300px;
	padding: 0 0;
	z-index: 2;
}

.logo img {
	position: relative;
	width: 100px;
	z-index: 0;
	transition: width 1s;
}

.links ul {
	direction: rtl;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 8px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 19px;
	background-color: #fff;
	transition: font-size,top 1.2s;

}
.navLinks li {
	position: relative;
	display: inline-flex;
}

a,
.links ul a ,
.links ul li {
	text-decoration: none;
	list-style: none;
	margin-right: 13px;
}

.links ul li:last-child {
	margin-left: 40px;
}

.links ul .icon {
	display: none;
}

.linksUl-scroll {
	font-size: 16px !important;
}

.subLinks ul  {
	position: absolute;
	left: 0;
	transform: translateX(35%);
	display: block; 
	background-color: #fff;
	padding: 5px 10px ;
	border-radius: 15px;
	box-shadow: 0 15px 25px rgba(0,0,0,.3);
	transition:all 0.5s;
	opacity: 0;
	visibility: hidden;
	height: auto;
	width: 220px;
}
.subLinks ul li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	transform: translateX(10px);
	width: auto;
	border-radius: 10px;
} 
 
#sub .Myshow  {
	opacity: 1;
	visibility: visible;
	left:0;
	transform: translate(35%,45px);
}

.subLinks ul::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 2px;
	left: 50%;
	transform: rotate(45deg) translateX(-50%);
	top: -1px;
	z-index: -1;
}

#sub a i{
	position: absolute;
	left: -10px;
	top: 5px;
	font-size: 10px;
}

.card {
	z-index: 6;
}
@media screen and (max-width: 600px) {
	a,
	.links ul a ,
	.links ul li {
		margin-right: 10px;
	}
	.links ul {
		display: block;
		width: 40px;
		height: 40px;
		transition: background-color 1s,width 1s ,height 1s;
	}
	.links.responsive ul {
		transition: background-color 1s,width 1s ,height 1s;
		width: 90%;
		height: 300px;
		background-color: #3c3434;
	}

	.links.responsive a,
	.links.responsive ul li a {
		color: #fff;
	}

	.links ul li{
		font-size: 19px;
		display: none;
	}
	.links ul .icon {
		display: block;
	}
	.links.responsive ul li {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		text-align: center;
		background-color: rgba(255,255,255,.05);
		border-radius: 12px;
		height: 40px ;
		width: 100%;
		margin: 5px 0 0 5px;
		padding-top: 3px;
	}

	/*hover change button li sub and link bg*/
	.subLinks ul li:hover,
	.links.responsive ul li:hover{
		background-color: rgba(255,255,255,.15) !important;
	}
	.links.responsive ul li a {
		width: 100%;
	}

	a.icon {
		width: 5%;
		padding: 2px 0 0 2px;
	}
	
	.subLinks ul li {
		margin-right: 9px !important;
		background-color: rgba(255,255,255,.25) !important;
	}
	.icon {
		position: relative;
		left: 15%;
		font-size: 17px;
	}

	.responsive .icon {
		left: 0;
	}

	.subLinks ul::after {
		position: static;
	}
	.subLinks {
		position: absolute;
		top: 30px;
		left: -50%;
		width: 100%;
		z-index: 3;
	}
	.subLinks ul {
		transition: all .7s !important;
		height: auto!important;
		padding: 1.5%;
		width: 100% !important;
		background-color: rgba(36,34,34,.92) !important;
	}

	#sub .Myshow {
		transform: translate(50%,0);
	}
	#sub a i{
		left: 20px;
		top: 12px;
		font-size: 16px;
	}
	.links ul li:last-child {
	margin-left: 0;
	}
}



/* weblog */

.weblog {
	display: grid;
	grid-template-columns:  2fr ;
	grid-template-rows:  1fr ;
	align-items: center;
	justify-content: center;
	/*text-align: center;*/
	position: relative;
	top: 80px;
	height: auto;
	width:80%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f4f0f0;
	border-radius: 25px;
	padding-bottom: 400px;
}

.weblog .text {
	width: 90%;
	height: auto;
	color: #4a4a4a;
	text-align: right;
	direction: rtl;
	position: relative;
	top: 10px;
	padding-top: 25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.9vw;
	padding: 4% 4% 4% 2%;
	background-color: #fff;
	border-radius: 5px;
}
.weblog .text h2 {
	font-weight: 800;
	padding: 8% 0 2% 0;
	color: #363636;
}
.weblog .text p {
	padding-top: 3%;
	color: #4a4a4a;
}
.weblog .text span {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 90%;
	font-size: 4vw;
	letter-spacing: 2vw;
	padding: 0 0 10vw 0;

}

.weblog .text .img {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 2vw 5vw;
}

.weblog .text .img img {
	border-radius: 8px;
}

.weblog .text .img i {
	color: rgba(122,121,121,.8);
	font-size: .8rem;
	position: relative;
	top: .7rem;
}

.weblog img:not(.img img) {
	width: 90%;
	height:90% ;
	position: relative;
	left: -50%;
	transform: translateX(50%);
	top: 5px;
	border-radius: 20px;
	z-index: 1;
}

.content {
	background-color: #f4f0f0;
}


@media only screen and (max-width: 950px) {
	.weblog {
		width: 100%;
	}
	.weblog .text  {
		font-size: .88rem;
		line-height: 1.9rem;

	}

	.weblog .text h2 {
		font-size: 1rem;
	}

	.weblog .text span {
		font-size: 1.7rem;
		padding: 0 0 10vw 0;
	}
	.weblog .text .img {
		padding: 6vw 0;
	}

	.weblog .text p {
		padding-top: 10%;
	}

	.weblog .text .img i {
		font-size: .7em;
	}
}



/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48.5px;
  z-index: 2;
}

.sticky .links ul {
	margin-top: 2px;
}

.sticky + .content {
  padding-top: 0;
}

/* FOOTER */
footer {
	position: relative;
	display: inline-flex;
	top: 15em;
	width: 100%;
	height: 270px;
	background-color: #272424;
	direction: rtl;
}

.footer-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*text-align: center;*/
	color: #fff;
	font-size: 21.5px;
}

.footer-container i {
	margin:6px ;
}

.soicial {
	direction: ltr;
	width: 22%;
}

.soicial a {
	color: #fff;
}

.soicial{
		position: absolute;
		left: 1em;
		width: 50%;
	}
	.contact-us{
		position: absolute;
		right: 1em;
		top: 4.2em;
		width: 50%;
	}
	.asia-logo {
		position: absolute;
		text-align: center;
		top: .6em;
	}
	.asia-logo img {
		width: 140px;
	}

@media only screen and (max-width: 800px) {
	.footer-container  {
		font-size: 16px;
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		/*text-align: center;*/
		color: #fff;

	}
	.soicial{
		position: absolute;
		left: 1em;
		width: 50%;
	}
	.contact-us{
		position: absolute;
		right: 1em;
		top: 6.5em;
		width: 50%;
	}
	.asia-logo {
		position: absolute;
		text-align: center;
		top: .7em;
	}
	.asia-logo img {
		width: 120px;
	}
}


@media only screen and (max-width: 600px) {
	.footer-container  {
		font-size: 14px;
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		/*text-align: center;*/
		color: #fff;

	}
	.soicial{
		position: absolute;
		left: 1em;
		width: 50%;
	}
	.contact-us{
		position: absolute;
		right: 1em;
		top: 7.7em;
		width: 50%;
	}
	.asia-logo {
		position: absolute;
		text-align: center;
		top: 1em;
	}
	.asia-logo img {
		width: 120px;
	}
}

@media only screen and (max-width: 430px) {
	.footer-container  {
		font-size: 13px;
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		/*text-align: center;*/
		color: #fff;

	}
	.soicial{
		position: absolute;
		left: 1em;
		width: 50%;
	}
	.contact-us{
		position: absolute;
		right: 1em;
		top: 8.5em;
		width: 50%;
	}
	.asia-logo {
		position: absolute;
		text-align: center;
		top: 1em;
	}
	.asia-logo img {
		width: 100px;
	}
}